
body{
    margin-left: 0;
    margin-top: 0;
}
/* first header */
#header{
    height: 35px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#header p{
    color: white;
    
}

/* main navigation bar  */
#main-nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
    /* position: sticky;
    top: 0px; */
    background-color: white;
}
.nav-left{
    width: 25%;

}
.nav-left h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.nav-middle{
    width: 50%;
     display: flex;
     padding-left: 50px;
    flex-direction: row;
    justify-content: space-between;
}
.nav-middle a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   
}
.nav-middle a:hover{
    text-decoration: underline;
    color: black;
}
.nav-right{
    width: 25%;
}

/* carousel */

.item img{
    width: 50%;
    height: 520px;
}
.carousel-main{
    display: flex;
}
.left{
    background-color: rgba(91,171,93,255);

}
.right{
    background-color: rgba(232,200,164,240);
}
.carousel-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.carousel-left h2{
    text-align: center;
    color: black;
    font-size: 47px;
    font-family: 'Playfair Display', serif;
}
.carousel-left p{
    text-align: center;
    color: black;
    margin-top: 25px;
    font-family: freight-sans-pro, sans-serif;;
}
.carousel-left button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 40px 10px 40px;
}
.carousel-left button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
.carousel-caption p{
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
}

/* LOGIN SECTION  */
#login{
    display: flex;
    height: 500px;
}
.login-left{
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    /* padding-bottom: auto; */
    
}
.login-left h3{
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
.form-control{
    width: 50%;
    margin-top: 20px;
    border: 2px solid black;
}
.col-3{
    display: flex;
    justify-content: center;
}
.login-btn{
    margin-top: 25px;
    margin-left: 25px;
}
.login-right{
    width: 50%;
    height: 500px;
    padding:50px;
    /* padding-left:50px ;
    padding-right: 50px; */
}
.login-right img{
    width: 500px;
    height: 100%;
}

/* extra section  */
#extra{
    width: 100%;
    height: 250px;
    background-color: rgba(91,171,93,255);
    display: flex;

}
.extra-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 100px;
}
.extra-left h1{
    color: black;
    font-family: 'Playfair Display', serif;
    
}

.extra-right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-left: 50px;
}
.extra-right h2{
    color: black;
    font-family: 'Playfair Display', serif;
}
/* recipie section  */
.recepie-para{
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:  rgba(91,171,93,255);
}
.recepie-heading{
    text-align: center;
    color: black;
    font-size: 47px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}
.recepie-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.recepie-one{
    width: 300px;
    height: 500px;
    border: 1px;
}
.recepie-one img{
    width: 300px;
    height: 200px;
}
.writing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.writing h3{
    font-family: 'Playfair Display', serif;
}
.writing p{
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
    font-size: 15px;
}
.making{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: bottom;
}
.writing h4{
    font-family: 'Playfair Display', serif;
   
}
.writing button{
    color: rgb(6, 6, 6);
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(80, 100, 146, 0);
    padding: 5px 10px;
}
.writing button:hover{
    background-color:rgba(91,171,93,255) ;
}
.recipie-btn{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}
.recipie-btn button{
    padding: 5px 40px;
    /* background-color:rgba(91,171,93,255) ; */
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid black ;
    border-radius: 5px;
    margin-bottom: 20px;
}
.recipie-btn button:hover{
    background-color:rgba(91,171,93,255) ;

}

/* footer  */
#contact{
    background-color: rgba(0, 0, 255, 0.06);
    /* padding-top: 10px; */
}
.contact-heading{
    margin-top: 50px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
#footer-main{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer-row{
    display: flex;
    justify-content: center;
}
.footer-row h4{
    margin-top: 80px;
    
    color: black;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}
.footer-row a{
    color: black;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
}
.footer-row a:hover{
    color: black;
}
.footer-first{
    width: 30%;
}
.footer-first img{
    width: 80px;
    display: flex;
    flex-direction: column;
}
.social-media{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.social-media a{
    margin-top: 3px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-middle{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-right{
    display: flex;
    flex-direction: column;
    width: 20%;
}

/* copy right  */

#copy-right{
    width: 100%;
    height: 50px;
    background-color: rgba(80,160,80,255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#copy-right p{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    margin-top: 10px;
}









#nav{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: rgba(235,233,229,255);
}
#nav a{
    text-decoration: none;

    color: rgb(62, 59, 59);
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif
}

#name{
    background-color: rgba(235,233,229,255);
    height: 500px;
}
.site-name{
    
    color: rgba(127,160,126,255);
    text-align: center;
    line-height: 1.1;
    
    display: block;
    font-size: 11em;
    /* margin-block-start: 0.83em; */
    /* margin-block-end: 0.83em; */
    
    font-weight: bold;

}

.site-para{
    
    color: rgba(0, 0, 0, 0.516);
    text-align: center;
    line-height: 1.1;
    margin-top: 50px;
    
    font-size: 4em;
    
    
    font-weight: bold;

}

.heading{
    color: rgba(0, 0, 0, 0.696);
    text-align: center;
    line-height: 1.1;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    
    
    font-weight: bold;
}